<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<h1>Contact page</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, commodi delectus dignissimos doloribus exercitationem fuga, id illo ipsum itaque iusto maxime minima mollitia non numquam, obcaecati odit quia sed.</span><span>Animi earum esse harum, incidunt labore omnis perferendis sapiente? Alias, aut consequuntur culpa dolorem esse id iusto maiores officiis recusandae totam! A accusantium aperiam architecto in inventore perferendis quaerat sapiente.</span></p>
</body>
</html>